#  Raspberry Pi RP2350 MicroROS tests (RP2040 backport) - The ROS Robot Project Research.
#  Copyright 2025 Samyar Sadat Akhavi
#  Written by Samyar Sadat Akhavi, 2025.
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <https: www.gnu.org/licenses/>.

name: Build Library Examples
on: push

jobs:
    build_baremetal:
        name: Build the baremetal example
        runs-on: ubuntu-latest
        needs: build_uros
        permissions:
            contents: read

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build Pico Source Code
              id: build
              uses: samyarsadat/Pico-Build-Action@v1
              with:
                  source_dir: ./
                  output_dir: "build"
                  output_ext: "*.uf2 *.elf *.elf.map *.hex *.bin *.dis"
                  output_ignored_dirs: "src/lib _deps"
                  cmake_args: "-DCMAKE_BUILD_TYPE=Release -DPICO_LOG_BUILD_EXAMPLES=ON"

            - name: Upload Pico Source Code Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: baremetal_example_binaries_rp2040
                  path: ${{steps.build.outputs.output_dir}}
                  if-no-files-found: error

    build_baremetal:
        name: Build the FreeRTOS example
        runs-on: ubuntu-latest
        needs: build_uros
        permissions:
            contents: read

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Download the FreeRTOS Kernel
              uses: actions/checkout@v4
              with:
                  repository: FreeRTOS/FreeRTOS-Kernel
                  path: libfreertos/FreeRTOS-Kernel

            - name: Copy FreeRTOS Kernel Import File
              shell: bash
              run: |
                  cp "libfreertos/FreeRTOS-Kernel/portable/ThirdParty/GCC/RP2040/FreeRTOS_Kernel_import.cmake" \
                  "FreeRTOS_Kernel_import.cmake"

            - name: Build Pico Source Code
              id: build
              uses: samyarsadat/Pico-Build-Action@v1
              with:
                  source_dir: ./
                  output_dir: "build"
                  output_ext: "*.uf2 *.elf *.elf.map *.hex *.bin *.dis"
                  output_ignored_dirs: "src/lib _deps"
                  cmake_args: "-DCMAKE_BUILD_TYPE=Release -DPICO_LOG_BUILD_EXAMPLES=ON -DPICO_LOG_FREERTOS=ON"

            - name: Upload Pico Source Code Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: freertos_example_binaries_rp2040
                  path: ${{steps.build.outputs.output_dir}}
                  if-no-files-found: error